.color-neon {
  color: var(--color-neon);
}
.color-charcoal {
  color: var(--color-charcoal);
}
.color-cream {
  color: var(--color-cream);
}

.bg-neon {
  background-color: var(--color-neon);
}
.bg-charcoal {
  background-color: var(--color-charcoal);
}
.bg-cream {
  background-color: var(--color-cream);
}

.neon-shadow {
  box-shadow: 8px 8px 0px var(--color-neon);
}
.cream-shadow {
  box-shadow: 8px 8px 0px var(--color-cream);
}

@keyframes drift1 {
  0% {
    background-position: 0 0;
  }
  20% {
    background-position: -50% 10%;
  }
  40% {
    background-position: 50% -60%;
  }
  50% {
    background-position: 90% 50%;
  }
  60% {
    background-position: 120% 20%;
  }
  80% {
    background-position: 70% -120%;
  }
  90% {
    background-position: 20% 20%;
  }
  100% {
    background-position: 0 0;
  }
}