.animated-shadow-text {
  display: block;
  text-shadow: 5px 5px 0 var(--color-gray);
  transform-style: preserve-3d;
}

@media (prefers-reduced-motion: reduce) {
  .animated-shadow-text {
    transition: none;
    transform: none !important;
    text-shadow: none !important;
  }
}