@keyframes cursorEnter {
  from {
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid var(--color-cream);
  }
  to {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    outline: 1px solid var(--color-cream);
    border: 2px solid var(--color-charcoal);
  }
}

@keyframes cursorLeave {
  from {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border: 1px solid var(--color-cream);
  }
  to {
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid var(--color-cream);
  }
}

@keyframes linkFocusIn {
  from {
    animation-delay: 0.1s;
    border: 1px solid var(--color-cream);
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
  }
  to {
    border: 1px solid var(--color-neon);
    outline: 1px solid var(--color-charcoal);
    background: transparent;
    margin-left: -28px;
    margin-top: -28px;
    width: 56px;
    height: 56px;
  }
}

// hide default cursor
body, a, button, .swiper .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: none;
}

// custom cursor
#cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);

  #circle1 {
    position: absolute;
    box-shadow: 0 0 1px 0 var(--color-cream) inset, 0 0 1px 0 var(--color-cream);
    border-radius: 50%;
    mix-blend-mode: exclusion;
    background: var(--color-neon);
    &.enter {
      animation: cursorEnter 0.5s forwards;
    }
    &.leave {
      animation: cursorLeave 0.3s forwards;
    }
    &.link {
      animation: linkFocusIn .3s forwards;
    }
  }
}