@use "../../styles/variables";

@keyframes cursorEnter {
  from {
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid var(--color-cream);
  }
  to {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    outline: 1px solid var(--color-cream);
    border: 2px solid var(--color-charcoal);
  }
}

@keyframes cursorLeave {
  from {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    border: 1px solid var(--color-cream);
  }
  to {
    height: 0px;
    width: 0px;
    margin-top: 0px;
    margin-left: 0px;
    border: 0px solid var(--color-cream);
  }
}

@keyframes linkFocusIn {
  from {
    animation-delay: 0.1s;
    border: 1px solid var(--color-cream);
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
  }
  to {
    border: 1px solid var(--color-purple);
    outline: 1px solid var(--color-charcoal);
    background: transparent;
    margin-left: -21px;
    margin-top: -21px;
    width: 42px;
    height: 42px;
  }
}

// hide default cursor
body, a, button, .swiper .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: none;
}

// custom cursor
#cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  will-change: top, left;
}
#cursor-circle {
  position: absolute;
  box-shadow: 0 0 1px 0 var(--color-cream) inset, 0 0 1px 0 var(--color-cream);
  border-radius: 50%;
  mix-blend-mode: exclusion;
  background: var(--color-purple);
  &.enter {
    animation: 0.25s variables.$bounce forwards cursorEnter;
  }
  &.leave {
    animation: 0.25s variables.$bounce forwards cursorLeave;
  }
  &.link {
    animation: 0.35s variables.$bounce forwards linkFocusIn;
  }
}