@use "mixins" as *;
@use "variables" as *;

#menu-toggle, main {
  opacity: 0;
  will-change: opacity;
}
body {
  padding: 4rem 3rem;
  @include media(tablet) {
    padding: 4rem;
  }
  &::after {
    content: '';
    position: absolute;
    border: 2px solid var(--color-cream);
    pointer-events: none;
    width: 2rem;
    height: 2rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    will-change: width, height, border-radius;
  }
  &.show-me {
    #menu-toggle {
      opacity: 1 !important;
      transition: opacity .2s linear 1.25s, transform 0.4s $bounce;
    }
    main {
      opacity: 1 !important;
      transition: opacity .2s linear 1s;
    }
    &::after {
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      border-radius: 4px;
      transition: width 1s $elastic, height 1s $elastic, border-radius .5s $elastic;
    }
  }
}