@use "mixins" as *;
@use "variables" as *;

main, #menu-toggle {
  opacity: 0;
  filter: blur(20px);
  will-change: opacity;
}
main {
  overflow: auto;
}
body {
  padding: 4rem 2rem 2rem;
  @include media(tablet) {
    padding: 4rem 3rem;
  }
  @include media(desktop) {
    padding: 4rem;
  }
  // shadow
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: {
      image: radial-gradient(circle,rgba(156, 160, 165, 1) 0%, rgba(15, 15, 17, 0) 50%);
      size: 150% auto;
      position: 0 0;
      repeat: no-repeat;
    }
    animation: drift1 20s linear infinite;
  }
  // border
  &::after {
    content: '';
    position: absolute;
    border: 2px solid var(--color-cream);
    pointer-events: none;
    width: 2rem;
    height: 2rem;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    will-change: width, height, border-radius;
  }
  // load animation utilities
  .load-1,
  .load-2,
  .load-3 {
    opacity: 0;
    transform: translateY(-20px);
    will-change: opacity, transform;
  }

  // ** page fade-in ** //
  &.show-me {
    // main
    main {
      opacity: 1 !important;
      filter: blur(0px);
      transition: opacity .2s linear 1s,
                  filter .3s linear 1s;
    }
    // nav toggle
    #menu-toggle {
      opacity: 1 !important;
      filter: blur(0px);
      transition: opacity .2s linear 1.25s,
                  transform .4s $bounce,
                  filter .3s linear 1.25s;
    }
    // shadow
    &::before {
      opacity: 0.2;
      transition: opacity .2s linear 1s;
    }
    // border
    &::after {
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
      border-radius: 4px;
      transition: width 1s $elastic, height 1s $elastic, border-radius .5s $elastic;
    }
    // load animation utilities
    .load-1,
    .load-2,
    .load-3 {
      opacity: 1;
      transform: translateY(0);
    }
    .load-1 {
      transition:
        opacity .8s linear 1s,
        transform .8s $bounce 1s;
    }
    .load-2 {
      transition:
        opacity .8s linear 1.1s,
        transform .8s $bounce 1.1s;
    }
    .load-3 {
      transition:
        opacity .8s linear 1.2s,
        transform .8s $bounce 1.2s;
    }
  }
}