@use "mixins" as *;

.main {
  position: relative;
  z-index: 0;
  height: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @include media(tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include media(wide) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background: var(--color-charcoal);
  @include fancy-border(cream);
  padding: 4rem 3rem;
  @include media(tablet) {
    padding: 4rem;
  }
}