@use "mixins" as *;
@use "variables" as *;

.swiper {
  &.technologies {
    .swiper-wrapper {
      transition-timing-function: linear !important;
      will-change: transform;
    }
    .swiper-slide {
      width: auto;
    }
  }
  &.work-samples {
    .swiper-slide {
      height: auto;
      @include media(wide) {
        width: 80%;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background: var(--color-charcoal);
  }
}


blockquote {
  &::before {
    content: '"';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--font-heading);
    line-height: 1;
    font-size: 20rem;
    color: var(--color-gray);
    z-index: -1;
    opacity: 0.3;
  }
}

a.btn {
  position: relative;
  display: inline-block;
  padding: .5rem 1rem .4rem;
  text-transform: uppercase;
  font-family: var(--font-heading);
  font-weight: 700;
  background: transparent;
  border: 2px solid var(--color-neon);
  color: var(--color-neon);
  font-size: 14px;
  letter-spacing: 1px;
  transition: color .3s ease-out;
  span {
    position: relative;
    z-index: 1;
  }
  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--color-neon);
    z-index: 0;
    transition: width .4s $bounce;
  }
  &:hover {
    color: var(--color-charcoal);
    &::before {
      width: 100%;
    }
  }
  &.btn-dark {
    color: var(--color-charcoal);
    border-color: var(--color-charcoal);
    &::before {
      background: var(--color-charcoal);
    }
    &:hover {
      color: var(--color-neon);
    }
  }
  &.btn-neon {
    background: var(--color-neon);
    color: var(--color-charcoal);
    &::before {
      background: var(--color-charcoal);
    }
    &:hover {
      color: var(--color-neon);
      border-color: var(--color-charcoal);
    }
  }
}

.pill {
  @apply py-2 px-6 rounded-2xl text-center whitespace-nowrap leading-none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}
.game-break {
  cursor: pointer;
  &_text {
    will-change: transform;
    animation: spin 12s linear infinite;
  }
  &_icon {
    svg {
      transition: transform .5s $bounce;
    }
    polygon {
      border-radius: 4px;
      transition: fill .12s linear;
    }
    &:hover {
      svg {
        transform: scale(1.1) rotate(-5deg);
      }
      polygon {
        stroke: var(--color-neon);
        fill: var(--color-neon);
      }
    }
  }
}