@use "variables";

@mixin media($res) {
	@if mobile==$res {
		@media (min-width: variables.$mobile_width) {
			@content;
		}
	}

	@if tablet==$res {
		@media (min-width: variables.$tablet_width) {
			@content;
		}
	}

	@if desktop==$res {
		@media (min-width: variables.$desktop_width) {
			@content;
		}
	}

	@if wide==$res {
		@media (min-width: variables.$wide_width) {
			@content;
		}
	}

	@if full_width==$res {
		@media (min-width: variables.$full_width) {
			@content;
		}
	}
}

@mixin fancy-border($border-color) {
	&::after {
    content: '';
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    top: 1rem;
    left: 1rem;
    border: 2px solid var(--color-#{$border-color});
    pointer-events: none;
    border-radius: 4px;
  }
}