@use "mixins" as *;

body {
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  line-height: 1.6;
  font-size: 16px;
}

p {
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
  font-family: var(--font-heading);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  margin-bottom: 1rem;
}

h1, .h1 {
  text-transform: uppercase;
  line-height: 0.9;
  font-size: clamp(7rem, 20vw, 15rem);
}
h2, .h2 {
  font-size: 4rem;
  @include media(desktop) {
    font-size: 5rem;
  }
}
h3, .h3 {
  font-size: 2rem;
  @include media(desktop) {
    font-size: 3rem;
  }
}
h4, .h4 {
  font-size: 1.75rem;
  @include media(desktop) {
    font-size: 2rem;
  }
}
h5, .h5 {
  font-size: 1.5rem;
}
h6, .h6 {
  font-size: 1rem;
  text-transform: uppercase;
}