.color-neon {
  color: var(--color-neon);
}
.color-charcoal {
  color: var(--color-charcoal);
}
.color-cream {
  color: var(--color-cream);
}

.bg-neon {
  background-color: var(--color-neon);
}
.bg-charcoal {
  background-color: var(--color-charcoal);
}
.bg-cream {
  background-color: var(--color-cream);
}