.color-neon {
  color: var(--color-neon);
}
.color-charcoal {
  color: var(--color-charcoal);
}
.color-cream {
  color: var(--color-cream);
}

.bg-neon {
  background-color: var(--color-neon);
}
.bg-charcoal {
  background-color: var(--color-charcoal);
}
.bg-cream {
  background-color: var(--color-cream);
}

.neon-shadow {
  text-shadow: 4px 4px 0px var(--color-neon);
}
.cream-shadow {
  text-shadow: 4px 4px 0px var(--color-cream);
}