// Breakpoints
$mobile_width: 640px;
$tablet_width: 768px;
$desktop_width: 1024px;
$wide_width: 1280px;
$full_width: 1536px;

// transitions
$bounce: cubic-bezier(.47,1.64,.41,.8);
$elastic: cubic-bezier(0.83, 0, 0.17, 1);

:root {
  // inter + space grotesk
  --font-heading: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --color-charcoal: #0f0f11;
  --color-cream: #f4f4f6;
  --color-neon: #B6FF44;
  --color-gray: #9CA0A5;
  --color-slate: #1A1C1F;
}