@use "mixins" as *;
@use "tailwindcss" as *;
@use "typography" as *;
@use "navigation" as *;

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  @include media(tablet) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include media(wide) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--color-charcoal);
  padding: 4rem;
  &::after {
    content: '';
    position: fixed;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    top: 1rem;
    left: 1rem;
    border: 2px solid var(--color-cream);
    pointer-events: none;
    border-radius: 4px;
  }
}